{%extends 'base.html'%}
{% block title%}
Market page
{% endblock%}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fresh Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home_page') }}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('market_page') }}">Market</a>
            </li>
        </ul>
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="color: rgb(5, 53, 34); font-weight: bold">
                    <i class="fas fa-coins"></i>
                    {{ current_user.prettier_budget }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Welcome, {{ current_user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register_page') }}">Register</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{%endblock%}

{%block content%}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <h2>Available items on the Market</h2>
      <p>Click on one of the items to start buying</p>
      <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               <th scope="col">Barcode</th>
               <th scope="col">Price</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}            
            <tr>
               <td>{{ item.id }}</td>
               <td>{{ item.name }}</td>
               <td>{{ item.barcode }}</td>
               <td>{{ item.price }}$</td>
               <td>
                  <button class="btn btn-outline btn-info" data-toggle="modal"
                     data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle="modal"
                     data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-4">
      <h2>Owned Items</h2>
      <p>Click on sell item to put an item back on the Market</p>
      <br>
      <div class="row">
         {% for owned_item in owned_items %}
         
         <div class="col-md-6">
            <div style="margin-bottom: 5px" class="card text-center bg-dark">
               <div class="card-body">
                  <h5 class="card-title">{{ owned_item.name }}</h5>
                  <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-toggle="modal"
                     data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                     Sell this Item
                  </button>
                  <p class="card-text"><strong>
                        This item costs {{ owned_item.price }}$
                     </strong></p>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}


